.header{
    font-family: 'Lobster',
    cursive;
    text-align: center;
    color: #8a2be2;
}

.input{
    font-size: 20px;
    resize: none;
}

.right{
    color: red;
}

.left{
    color: left;
}

.form{
    text-align:right;
    align-items: flex-end;
    padding-left: 50%;
}

body{
    background-color: bisqu;
}