{% extends "layout.html" %}
<head>
    {% block title %}<title>Home</title>{% endblock title %}
</head>
<body>
    {% block body %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="home.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('user', username=username) }} ">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
        </ul>
        <div class="form">
            <form class="form-inline" action="#">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <h1 class="header">PoliticAI</h1>
    <!-- <h2>Home Page</h2> -->
    <h3>Welcome {{ username }}</h3>
    <form action="#" method="post">
        <textarea class="input" name="title" rows="1" cols="100" placeholder="Enter Title"></textarea>
        <textarea class="input" name="text" rows="10" cols="100" placeholder="Post to your heart's content!"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <form action="#" method="post">
        <div class="form-group">
            <label for="news_link">News Link:</label>
            <input type="text" class="form-control" placeholder="Enter article link" id="news_link" name="news_link" >
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <h2>{{ post.wing }} wing</h2>
        <p>By {{ post.author.username }} on {{ post.date }}</p>
        <p>{{ post.body }}</p>
        <form action="#" method="post">
            <textarea class="input" name="comment" rows="1" cols="50" placeholder="Reply"></textarea>
            <button type="submit" class="btn btn-primary">Comment</button>

        </form>
    {% endfor %}

    {% for article in news_articles %}
        <h1>{{ article.title }}</h1>
        <h3>Keywords:</h3>
        <p>{{ article.keywords }}</p>
        <h3>Description:</h3>
        <p>{{ article.description }}</p>
        <h3>Summary:</h3>
        <p>{{ article.summary }}</p>
    {% endfor %}
{% endblock body %}
</body>